body {
    margin: 0;
    padding: 0;
    color: #F0F1F2;
    /*color: #E3DFD7;*/
    font-family: "Lato", sans-serif;
    background-color: #cdbaab;
}

#content {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 99%;
    background-color: #cdbaab;
    /* allow scroll - contain children */
    overflow: auto;
}
.centered {
    margin: 30px auto;
    width: 50%;
    text-align: center;
    min-width: 720px;
}

#nameplate {
    color: #FAF5EB;
    margin-bottom: 10px;
    margin-left: 35px;
    font-size: 2em;
    /*text-align: left;*/
}
#nameplate a {
    color: #E3DFD7;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}
input {
    border: none;
    margin: 0;
    font-family: "Lato", sans-serif;
}

h1 {
    margin: 0;
}