body {
    margin: 0;
    padding: 0;
    color: #F0F1F2;
    font-family: "Lato", sans-serif;
    background-color: #34495e;
}

.panel {
    height: 100%;
}
#sidebar {
    height: 100%;
    width: 2%;
    background-color: #2c3e50;
    position: fixed;
    left:0;
    top:0;
    overflow: hidden;

    transition: 0.3s;
-moz-transition: 0.3s;
-webkit-transition: 0.3s;
}
#sidebar:hover {
    width:10%;
}
#sidebar-roomlist {
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
}

#content {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 98%;
    background-color: #34495e;
}
.centered {
    margin: 30px auto;
    width: 50%;
    text-align: center;
}

#player {
    /* contain children */
    margin: 0 auto;
    width: 60%;
    overflow: auto;
}
#player-videowrap {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}
#player-videowrap img {
    width: 100%;
    height: auto;
}
#player-info {
    margin-top: 10px;
}
.columns {
    position: relative;
    float: left;
    width: 100%;
}
.leftcol {
    float: left;
    width: 70%;
    margin-right: 10%;
}
.rightcol {
    float: left;
    width: 20%;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;

    /* for the buttons */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* make button box-shadow show,
    since player div has overflow:auto; */
    padding: 6px;
}
.vertcenter {
    height: 100%;
}

.button {
    display: block;
    background-color: white;
    height: 25%;
    width: auto;
    margin-bottom: 10px;
    position: relative;
    top: 0;

    border-bottom: 3px solid #222;
    border-radius: 10px;
    -moz-box-shadow: 0 0 6px #222;
    -webkit-box-shadow: 0 0 6px #222;
    box-shadow: 0 0 6px #222;

    -webkit-transition: top 0.1s ease;
    -moz-transition: top 0.1s ease;
    transition: top 0.1s ease;
}
.button:active {
    position: relative;
    top: 3px;
    border-bottom: none;
    margin-bottom: 13px;
}
.add-button {
    background-color: #1abc9c;
}
.play-button {
    background-color: #3498db;
}
.stop-button {
    background-color: #7f8c8d;
}

ul {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}

#info-songname {
    color: white;
    font-family: "Montserrat", sans-serif;
}
#info-artist {
    color: white;
}

.chatbox-name {
    color: white;
}